.stream {
    background-color: greenyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;    
    height: 25rem;
    width: 50rem;
}

.left {
    position: absolute;
    align-items: left;
    justify-content: center;
}

.right {
    position: relative;
    margin-left: 55%;
}

.ad{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 5%;    
    height: 25rem;
    width: 50rem;   
        & img {
        padding: 1.5%;
    }
}

#weather_card_container,
#webcams_card_container,
#lifts_card_container {
    height: 100%;
    width: 80%;
    padding-top: 5rem;
}

#two {
    position: absolute;
    margin: 400px 5% 5%;
}