html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

/* navbar */
.sidebar {
    width: 8rem;
    height: 100%;
    background: linear-gradient(to top right, hwb(150 10% 10% / .5), hwb(250 10% 10% / .4));
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   
}

.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}

.menu-icon:hover .line {
    width: 2.5rem;
}

.line {
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition: all .4s;
}

.social-icons-list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    font-size: 3rem;
    color: #777;
    transition: color .3s;
}

.social-link:hover {
    color: burlywood;
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: gray;
}

/* end of sidebar */

/* navigation */
.navigation {
    position: fixed;
    left: -40rem;
    height: 100%;
    background: linear-gradient(to top left, hwb(150 10% 10% / .5), hwb(250 10% 10% / .4)), center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
    width: 40rem;
}

.navigation-heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .5rem;
    color: hwb(250 10% 10% / .5);
    text-align: center;
}

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 30.5rem;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, .3);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    color: #deaa86;
    letter-spacing: .1rem;
    outline: none;
    border: .1rem solid #555;
    border-radius: 10rem;
    transition: .3s;
}

.navigation-search-input:focus {
    background-color: rgba(0, 0, 0, .8);
}

.navigation-search-btn {
    border: none;
    background-color: transparent;
    color: #deaa86;
    font-size: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    outline: none;
}

.nav-list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.first-nav-list {
    list-style: none;
    padding: 0;
    margin-top: 23rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first-nav-dropdown {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-nav-list {
    list-style: none;
    padding: 0;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    background: -webkit-linear-gradient(hwb(0 90% 20% /.2), hwb(250 10% 10% / .9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 3px 1px 3px white, 0 0 1em blue, 0 0 1em blue;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s;
    position: relative;
}

.navigation-link::before {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: hwb(250 10% 10% / .9);
    position: absolute;
    top: 1.2rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: hwb(250 10% 10% / .9);
    position: absolute;
    top: 1.2rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover::before {
    width: 3rem;
}

.navigation-link:hover::after {
    width: 3rem;
}

.checkbox:checked ~ .navigation {
    left: 8rem;
    z-index: 50;
}

.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(405deg) translate(-5px, -6px);
    width: 2.4rem;
}

.checkbox:checked ~ .sidebar .navigation-search-input {
    margin-left: 40rem;
}

/* end of navigation */

.container {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    grid-template-rows: repeat(3, min-content) 70vw;
    gap: 1.6rem;
}

/* header */
.header {
    padding-top: 1rem;
    padding-left: -.1rem;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.brand {
    left:5rem;
}

.banner {   /* for top of page */
    color: hwb(250 10% 10% / .9);
    width: 100vw;
    height: 65rem;
    display: flex;
    margin-left: 50rem;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.banner-heading {   /* for top of page */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}

.banner-paragraph {     /* for top of page */
    font-size: 3.5rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
}

.banner-button {        /* for top of page */
    width: 21rem;
    padding: 1.2rem 2rem;
    color: #333;
    letter-spacing: .1rem;
    border: none;
    border-radius: 10rem;
    background: linear-gradient(to right, gold, goldenrod);
    cursor: pointer;
    outline: none;
    animation: anim 1s 1s backwards;
}

.banner-button:hover {
    background: linear-gradient(to left, gold, goldenrod);
}

.banner-button:active {
    transform: translateY(.2rem);
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

video {
    margin-top: 5rem;
    object-fit: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: .2;
    z-index: 0;
}

/* end of header */

.top-nav-container {
    display: grid;
    width: 100vh; 
    grid-template-columns: minmax(6rem, 1fr) repeat(20, minmax(10rem, 16rem)) minmax(16rem, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 1.6rem;
    margin-top: 1.6rem;
}

.top-nav {
    grid-row: 1 / 2;
    grid-column: 17 / 21;
}

.top-nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    list-style: none;
}

.top-nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: blue;
    display: inline-block;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.top-nav-link::after {
    content: "";
    width: 0;
    height: .1rem;
    background-color: #12376e;
    display: block;
    margin: auto;
    transition: width .4s cubic-bezier(.55, 0, .98, .54);
}

.top-nav-link:hover::after {
    width: 75%;
}

.top.nav-link i {
    font-size: 1.3rem;
    color: blue;
}

/* top nav end */

.search {
    grid-column: 10 / 11;
    grid-row: 2 / 3;
}

.search-input {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    padding: .3rem .4rem;
    font-size: 1.3rem;
    border: none;
    border-bottom: .1rem solid blue;
    outline: none;
}

.search-btn {
    grid-column: 10 / 11;
    grid-row: 1 / 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown

.sub-nav-item {
    list-style: none;
}

/* carousel banner */
.carousel-banner {
    display: grid;
    grid-template-columns: minmax(8rem, 1fr) repeat(10, minmax(min-content, 16rem)) minmax(8rem, 1fr);
    grid-template-rows: repeat(1, min-content) 70vh;
    gap: 1.6rem;
    margin-top: 1.6rem;
}

.carousel {
    grid-column: 2 / 10;
    grid-row: 4 / 5;
    position: relative;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    z-index: 50;
}

.carousel-heading {
    font-size: 10rem;
    color: #00154c;
    margin-bottom: 6rem;
}

.carousel-btn {
    width: 16rem;
    height: 5rem;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    color: white;
    border: .1rem solid white;
    border-radius: .3rem;
    outline: none;
    position: relative;
    overflow: hidden;
}

.banner-btn-text-1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    transition: top .2s;
}

.banner-btn-text-2 {
    position: absolute;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    transition: top .2s;
}

.carousel-btn:hover .banner-btn-text-1 {
    top: -100%;
}

.carousel-btn:hover .banner-btn-text-2 {
    top: 50%;
}

@keyframes slideshow {
    0% {left: 0}
    10% {left: 0}
    15% {left: -100%}
    30% {left: -100%}
    40% {left: -200%}
    45% {left: -200%}
    55% {left: -300%}
    60% {left: -300%}
    70% {left: -200%}
    75% {left: -200%}
    85% {left: -100%}
    90% {left: -100%}
}

.slideshow {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slideshow-wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    animation: slideshow 24s infinite;
}

.slide {
    width: 25%;     /* Adjust based on the number of slides */
    height: 100%;    /* Match the height of the slideshow container */
    flex-shrink: 0;
    overflow: hidden;
}

.slide img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    display: block;
}

.slide-btn {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #bbb;
    border: .2rem solid #d38800;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 95%;
    transform: translateX(-50%);
    z-index: 10;
}

.slide-btn-1 {
    left: 47%;
}
.slide-btn-2 {
    left: 49%;
}
.slide-btn-3 {
    left: 51%;
}
.slide-btn-4 {
    left: 53%;
}

.slide-btn-1:focus ~.slideshow-wrapper { 
    animation: none;
    left: 0}
.slide-btn-2 ~.slideshow-wrapper { 
    animation: none;
    left: -100%; }
.slide-btn-3 ~.slideshow-wrapper {
    animation: none; 
    left: -200%; }
.slide-btn-4 ~.slideshow-wrapper { 
    animation: none;
    left: -300%; }

.slide-btn:focus {
    background-color: hwb(250 10% 10% / .9)#333;
}
