html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: -10;
    border-top: 3;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* navbar */
.sidebar {
    width: 8rem;
    height: 100%;
    background: linear-gradient(to top right, hwb(150 10% 10% / .5), hwb(250 10% 10% / .4));
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   
}

.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}

.menu-icon:hover .line {
    width: 2.5rem;
}

.line {
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition: all .4s;
}
 
.social-icons-list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 3 / 4;
}

.social-link {
    font-size: 3rem;
  color: #777;
  transition: color .3s;
  background-color:  rgba(255, 255, 255, 0.8);
  filter: blur(.5px); 
  padding: 0.5rem 1rem;
  border-radius: 50%; 
  margin: 0.5rem 0;
  opacity: .5;
}

.social-link:hover {
    color: linear-gradient(to right, hwb(150 10% 10% / .5), hwb(250 10% 10% / .4));
    background-color: #eee;
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: gray;
}

/* end of sidebar */

/* navigation */
.navigation {
    position: fixed;
    left: -32rem;
    height: 100%;
    background: linear-gradient(to top left, hwb(150 10% 10% / .5), hwb(250 10% 10% / .4)), center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
    width: 30rem;
}

.navigation-heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .5rem;
    color: hwb(250 10% 10% / .5);
    text-align: center;
}


.navigation-item {
    position: relative;
}

.checkbox:checked ~.navigation {
    left: 8rem;
}
.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(405deg) translate(-5px, -6px);
    width: 2.4rem;
}

.checkbox:checked ~ .sidebar .navigation-search-input {
    margin-left: 40rem;
}

/* end of navigation */

.container {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    grid-template-rows: repeat(3, min-content) 1fr70vw;
    gap: 1.6rem;
}

/* header */
.header {
    display:grid;
    position: relative;
    grid-template-columns: 1fr; 
    grid-template-rows: auto 1fr 1fr 1fr auto; 
    height: 100vh;
    margin-top:0;
    padding-top:0;
    padding-left: -.1rem;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.brand {
    display:none;
    position: flex;
    padding: 0;
    position:sticky;
    z-index: 100;
}

.banner {
    grid-row: 2 / 3;
    padding: 2rem;
    margin-left: 8rem;
    padding: 2rem;
    align-items: center; 
    justify-content: center; 
    height: vh;
    background: hwb(150 10% 10% / .2);
    overflow: auto;

}

.banner-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
  }
  
  .text-paragraph {
    grid-row: 4/5;
    grid-column: 1/-1;
    padding:5rem 30rem;
    font-size: 1.6rem;
    font-weight: 300;
    padding-right: 2rem;
    text-align: left;
    max-height: 850px;
    overflow: hidden;
    margin-botom: 5px;
  }

  .paragraph-content {
    text-align: center;
  }
  
  .bottom-paragraph {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%; 
    max-width: 1200px;
    padding: 1rem; 

    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
  
}

.text-button {
    font-size: large;
    font-weight: 600;
    width: 21rem;
    padding: 1.2rem 2rem;
    color: #333;
    letter-spacing: .1rem;
    border: none;
    border-radius: 10rem;
    background: linear-gradient(to right, gold, goldenrod);
    cursor: pointer;
    outline: none;
    animation: anim 1s 1s backwards;
    margin: 0 auto;
    padding-left: 5rem;
  }

.text-button:hover {
    background: linear-gradient(to left, gold, goldenrod);
}

.-button:active {
    transform: translateY(.2rem);
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.brand {
    display: flex;
    z-index: 200;
    height: 25%;
    width: 25%;
    align-items: center; 
    justify-content: center; 
    margin:0;
    padding:0;
}

.brand img {
    max-width: 30%; /* Image can be as wide as its container */
    max-height: 30%; /* Image can be as tall as its container */
}

.video-wrapper {
    grid-template-columns: 1fr; 
    grid-template-rows: auto 1fr auto;
    height: 100vh
  }
  
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }
  
.video-wrapper::after {
    content: "";
    position: absolute;
    top: -10px; 
    left: -1px;
    width: calc(100% + 20px); 
    height: calc(100% + 20px); 
    background: linear-gradient(to top, hwb(150 10% 10% / .3), hwb(250 10% 10% / .3));
    filter: blur(20px); 
    z-index: -1;
  }

  .video-paragraph {
    padding:5rem 30rem;
    font-size: 1.6rem;
    font-weight: 300;
    padding-right: 2rem;
    text-align: left;
    max-height: 850px;
    overflow: hidden;
    margin-botom: 5px;
  }
/* end of header */

.top-nav-container {
    display: grid;
    width: 100vw;
    grid-template-columns: minmax(0, 1fr) repeat(10, minmax(10rem, 16rem)) minmax(0, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 1.6rem;
    margin-top: 0;
    padding-top: 0;
}

.top-nav {
    grid-row: 1 / 2;
    grid-column: 17 / 21;
}

.top-nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    list-style: none;
}

.top-nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: blue;
    display: inline-block;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.top-nav-link::after {
    content: "";
    width: 0;
    height: .1rem;
    background-color: #12376e;
    display: block;
    margin: auto;
    transition: width .4s cubic-bezier(.55, 0, .98, .54);
}

.top-nav-link:hover::after {
    width: 75%;
}

.top.nav-link i {
    font-size: 1.3rem;
    color: blue;
}
/* top nav end */


.scrollable-container {
    overflow-y: auto; /* Add vertical scrollbar if necessary */
    max-height: 100vh; 
    padding-left: 10px; /* padding to avoid overlapping with scrollbar */
  }

.card img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.card  {
    width: 300px;
    padding: 20px;
    border: 5px solid transparent; /* Set an initial transparent border */
    border-image:  linear-gradient(to top left, hwb(150 10% 10% / .5), hwb(250 10% 10% / .6)); /* Adjust the gradient colors */
    border-image-slice: 1; /* Make the entire border use the gradient */
    background-color: #fff;

}

.card:hover {
    border-image: linear-gradient(to right, hwb(150 10% 10% / .6), hwb(250 10% 10% / .6));
    border-image-slice: 1;
}

.card-content {
    text-align: center;
}

/* carousel banner */
.carousel-banner {
    /* display: grid;
    grid-template-columns: minmax(0, 1fr) repeat(10, minmax(min-content, 16rem)) minmax(0, 1fr);
    grid-template-rows: repeat(1, min-content) 70vh;
    gap: 1.6rem;
    margin-top: 1.6rem; */
    grid-row: 3 / 4;

}

.carousel {
    grid-column: 2 / 10;
    grid-row: 4 / 5;
    position: relative;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    z-index: 50;
}

h1 {
    font-size: 4rem;
    color: #00154c;
    margin-top: 0;
    margin-bottom: 5rem;
}

.carousel-btn {
    width: 16rem;
    height: 5rem;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    color: white;
    border: .1rem solid white;
    border-radius: .3rem;
    outline: none;
    position: relative;
    overflow: hidden;
}

.banner-btn-text-1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    transition: top .2s;
}

.banner-btn-text-2 {
    position: absolute;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    transition: top .2s;
}

.carousel-btn:hover .banner-btn-text-1 {
    top: -100%;
}

.carousel-btn:hover .banner-btn-text-2 {
    top: 50%;
}

@keyframes slideshow {
    0% {left: 0}
    10% {left: 0}
    15% {left: -100%}
    30% {left: -100%}
    40% {left: -200%}
    45% {left: -200%}
    55% {left: -300%}
    60% {left: -300%}
    70% {left: -200%}
    75% {left: -200%}
    85% {left: -100%}
    90% {left: -100%}
}

.slideshow {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slideshow-wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    animation: slideshow 24s infinite;
}

.slide {
    width: 25%;     /* adjust based on the number of slides */
    height: 100%;    
    flex-shrink: 0;
    overflow: hidden;
}

.slide img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    display: block;
}
